---
import { getCollection, type CollectionEntry, getEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allLocations = await getCollection('locations');
  const publishedLocations = allLocations.filter((location) => location.data.workflowStatus === 'published');

  return publishedLocations.map((location) => ({
    params: { location: location.slug },
    props: { location },
  }));
}

type Props = {
  location: CollectionEntry<'locations'>;
};

const { location } = Astro.props;

const businessProfile = await getEntry('business', 'profile');
if (!businessProfile) {
  throw new Error('Business profile not found');
}
const business = businessProfile.data;
---

<BaseLayout
  title={location.data.seoTitle}
  description={location.data.seoDescription}
>
  <h1>HVAC Services in {location.data.title}</h1>
</BaseLayout>
