---
import { getCollection, type CollectionEntry, getEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allCaseStudies = await getCollection('case-studies');
  const publishedCaseStudies = allCaseStudies.filter((cs) => cs.data.workflowStatus === 'published');

  return publishedCaseStudies.map((caseStudy) => ({
    params: { slug: caseStudy.slug },
    props: { caseStudy },
  }));
}

type Props = {
  caseStudy: CollectionEntry<'case-studies'>;
};

const { caseStudy } = Astro.props;

const businessProfile = await getEntry('business', 'profile');
if (!businessProfile) {
  throw new Error('Business profile not found');
}
const business = businessProfile.data;
---

<BaseLayout
  title={`${caseStudy.data.title} | Case Study | ${business.business.legal_name}`}
  description={caseStudy.data.problem.description}
>
  <h1>{caseStudy.data.title}</h1>
</BaseLayout>
